---
http_interactions:
- request:
    method: post
    uri: https://auth.listrak.com/OAuth2/Token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials&client_id=doyfni0aw64ogd84ld6t&client_secret=LxdEE4Gu4aSJv5tS9osd8WudjGbJ%2BEIPYvZBS7bc5JU
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"UTKwRPAmVFLvmDQOhVKVEm1mCoC3D1NYg7Xy7LatAP_bh30dNtqFmkBW2WugNEjZSf2PYoCnH-vMZnLGclrCQ_qUk1Qs7Dxc-59QcWP_1udy_BHAFAvfsZuRGqw7ys7b85Xi-DPzgRNeRAggWddrTY8XpVjraeqc-lCUz3mLJ_hZDrIIRdfBNa1KH4I2yHT1ajICqvY_YgoY6sr7dPDxkMsrYFdQTxnXexmO5_Cp3txccCTK8ksT1DqZnE-y8cMjGy9S7Db5i_VProLEyRuAQ31lOV9ELwoDgaWVqdzQUlktPZLBxhUGcftmhiZIcxTYnbtg8WqCYNy44FL_DMcGoTgHcgcPETMG-B5S8bF85oWCiXKzu0Ps7AQF05d37ReLwIebJeVUEA1o_XtV41h7-41IiQy4MCkmf9YLkAu16ZI","token_type":"bearer","expires_in":3599}'
  recorded_at: Mon, 17 Dec 2018 20:10:35 GMT
- request:
    method: get
    uri: https://api.listrak.com/email/v1/List/349984/Contact/customer@workarea.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer UTKwRPAmVFLvmDQOhVKVEm1mCoC3D1NYg7Xy7LatAP_bh30dNtqFmkBW2WugNEjZSf2PYoCnH-vMZnLGclrCQ_qUk1Qs7Dxc-59QcWP_1udy_BHAFAvfsZuRGqw7ys7b85Xi-DPzgRNeRAggWddrTY8XpVjraeqc-lCUz3mLJ_hZDrIIRdfBNa1KH4I2yHT1ajICqvY_YgoY6sr7dPDxkMsrYFdQTxnXexmO5_Cp3txccCTK8ksT1DqZnE-y8cMjGy9S7Db5i_VProLEyRuAQ31lOV9ELwoDgaWVqdzQUlktPZLBxhUGcftmhiZIcxTYnbtg8WqCYNy44FL_DMcGoTgHcgcPETMG-B5S8bF85oWCiXKzu0Ps7AQF05d37ReLwIebJeVUEA1o_XtV41h7-41IiQy4MCkmf9YLkAu16ZI
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":200,"data":{"emailAddress":"customer@workarea.com","emailKey":"E423056525030584442F94FD29","subscriptionState":"Unsubscribed","subscribeDate":"2018-12-14T14:31:55","subscribeMethod":null,"unsubscribeDate":"2018-12-15T13:15:01","unsubscribeMethod":"Administrator","segmentationFieldValues":[]}}'
  recorded_at: Mon, 17 Dec 2018 20:10:36 GMT
recorded_with: VCR 2.9.3
