---
http_interactions:
- request:
    method: post
    uri: https://auth.listrak.com/OAuth2/Token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials&client_id=doyfni0aw64ogd84ld6t&client_secret=LxdEE4Gu4aSJv5tS9osd8WudjGbJ%2BEIPYvZBS7bc5JU
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"fPZbant0j_IOzSl1IIJUaGg7oO5uWYoyM8Mdt7Iyh67oGs5KLZ_hlUp7OIdk37B-lt3c-0OL9vo2hPUhBSmCIixs11EGGVFzOoBNys03yfKt35tWTggfxFEHbYI4eNkqywrXVzC2FADGnMydVhiKw1CZHt-w6Ylqwa_m9GWZam4tBk7RDxJ-pnKm8RWPGRdtQR0qRABKNobsmEw0YCHya5gHpm5z23pIngfcJXRAAhieM_RtsJq7_ZrLGjjdMZ-gtHRYoAo2hx6qguU-yC1RgirKnU_VzBI9wHm_WaoM78Ksoy4mp-qJR8iQI9dUK3iZ_U8cF9UXchZyaVP7MrBaTGWtQXQQASZWfPOibg1G_N02ln13fDmdRWK7-WQpymHYun-TaSW_dq7QsdecTrm32nsM3hHyOYQkQDZY1jwJMtI","token_type":"bearer","expires_in":3599}'
  recorded_at: Tue, 18 Dec 2018 20:01:33 GMT
- request:
    method: get
    uri: https://api.listrak.com/email/v1/List/349984/Event
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fPZbant0j_IOzSl1IIJUaGg7oO5uWYoyM8Mdt7Iyh67oGs5KLZ_hlUp7OIdk37B-lt3c-0OL9vo2hPUhBSmCIixs11EGGVFzOoBNys03yfKt35tWTggfxFEHbYI4eNkqywrXVzC2FADGnMydVhiKw1CZHt-w6Ylqwa_m9GWZam4tBk7RDxJ-pnKm8RWPGRdtQR0qRABKNobsmEw0YCHya5gHpm5z23pIngfcJXRAAhieM_RtsJq7_ZrLGjjdMZ-gtHRYoAo2hx6qguU-yC1RgirKnU_VzBI9wHm_WaoM78Ksoy4mp-qJR8iQI9dUK3iZ_U8cF9UXchZyaVP7MrBaTGWtQXQQASZWfPOibg1G_N02ln13fDmdRWK7-WQpymHYun-TaSW_dq7QsdecTrm32nsM3hHyOYQkQDZY1jwJMtI
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":200,"data":[{"eventId":12714,"eventName":"Test","eventGroupId":0,"status":"Active"},{"eventId":12715,"eventName":"footer
        signup","eventGroupId":0,"status":"Active"}]}'
  recorded_at: Tue, 18 Dec 2018 20:01:34 GMT
recorded_with: VCR 2.9.3
